<section id="about">
	<div class="photos left me">
		<div class="photo-glow"></div>
	</div>
	<h1 class="headings">Hi!</h1>
	<h1 class="headings">I’m Mike.</h1>
	<p class="p-left">I build websites and also work with teams on large web apps. I’ve been a professional web developer for over three years sharing my skills with cool companies such as Apple, Foxconn, and Fitbit.</p>
	<p class="p-left">I was twelve when I wrote my first program moving green pixels across a black screen. In high school, I discovered the love of logic and algebra that gave me a philosophy of thinking that has shaped my mind ever since. I was one of those geeky, nerdy kids who spent their lunch breaks converting the saga of Star Wars into algebraic formulas, but didn't dare tell anyone. Had there been programmers in my family to encourage me, I would have stayed this course. Instead, I took a multifarious path through performance, music composition, and education before recently coming back to code. As an adult programmer, I hope to help others realize their coding potential and create amazing things.</p>
	<p class="p-left">Coding is a true art form that utilizes multiple disciplines. It's founded in mathematics, but in anticipating user experience, it touches psychology. It's creative, builds an understanding of architecture, leadership, and teamwork.</p>
	<p class="p-left">A couple hundred years from now, I anticipate working alongside robots to better the world .</p>
</section>
