<section id="contact">
	<div class="headings center shadow" ng-mouseover="flicker()">
	</div>
	<div class="arrow-small">
		<div class="glow-small" ng-show="glow"></div>
	</div>
	<div class="linkedin color-shadow" ng-mouseover="flicker()">Contact me through LinkedIn!</div>
</section>
