<section id="culture">
	<div class="photos left culture">
		<div class="photo-glow"></div>
	</div>
	<h1 class="headings">Culture Fit</h1>
	<p class="p-left">It would be nice if we got along with our teammates as well as we do with our BFFs. Reality is, we are culturally, physically, and emotionally diverse adults; and ultimately, that reality is <strong>so</strong> much more engaging. When tolerating difficult personalities, keep this as a reminder. And remember, sometimes <i>we're</i> the difficult personality that others are tolerating. </p>
	<p class="p-left">To minimize friction, model the behavior you want to experience from your teammates. Be kindly direct and maintain broad perspective. Ego-attachment to your code is not worth the tension it creates in your team. Keep your humor respectful, and be generous with your help. </p>
	<p class="p-left">You'll likely discover that a positive workplace culture makes every project feel like Christmas. Support that culture and earn your right to be there.</p>
</section>
