<section id="home">
	<div class="greeting" ng-mouseover="flicker()">
		<div>Hi,</div>
		<div>I'm Mike,</div>
		<div>Web Developer.</div>
	</div>
	<div class="subgreeting" ng-mouseover="flicker()">Web Developer  /  Full Stack  /  Front End</div>
	<div class="directions color-shadow" ng-mouseover="flicker()">Scroll Or Use The Navigation Strip</div>
	<div class="arrow-small">
		<div class="glow-small" ng-show="glow"></div>
	</div>
	<div class="arrow-large">
		<div class="glow-large" ng-show="glow"></div>
	</div>
</section>
