<% include ./partials/header.ejs %>
<section id="menu-margin"></section>
<section id="menu" role="menu">
	<div class="m-icon" tooltip-placement="right" uib-tooltip="Michael McClure"></div>
	<div class="menu-icons" tooltip-placement="right" uib-tooltip="Home">
		<i class="fa fa-home" aria-hidden="true"></i>
	</div>
	<div class="menu-icons" tooltip-placement="right" uib-tooltip="Code">
		<i class="fa fa-ravelry" aria-hidden="true"></i>
	</div>
	<div class="menu-icons" tooltip-placement="right" uib-tooltip="About Me">
		<i class="fa fa-user-circle" aria-hidden="true"></i></i>
	</div>
	<div class="menu-icons" tooltip-placement="right" uib-tooltip="Culture Fit">
		<i class="fa fa-handshake-o" aria-hidden="true"></i>
	</div>
	<div class="menu-icons" tooltip-placement="right" uib-tooltip="Contact">
		<i class="fa fa-telegram" aria-hidden="true"></i>
	</div>
	<div class="social-icons" tooltip-placement="right" uib-tooltip="LinkedIn">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</div>
</section>


<section id="content">

	<section id="home">
		<div>
			Hi,
		</div>
		<div>
			I'm Mike,
		</div>
		<div>
			Web Developer.
		</div>
	</section>




	<section id="code"></section>
	<section id="me"></section>
	<section id="culture"></section>
	<section id="contact"></section>
</section>






















<% include ./partials/footer.ejs %>
