#code {
	background: transparent;
	position: relative;
	max-width: 875px;
	padding: 100px 0;

	.headings-right {
		text-align: right;
	}

	.ux {
		background: url(./img/ux.jpg);
		width: 260px;
		height: 160px;
	}
	.bug {
		background: url(./img/bug.jpg);
		width: 260px;
		height: 160px;
	}
	.dry {
		background: url(./img/dry.jpg);
		width: 260px;
		height: 160px;
	}
	.help {
		background: url(./img/help.jpg);
		width: 325px;
		height: 160px;
	}
}
