#culture {
	background: transparent;
	position: relative;
	max-width: 875px;
	min-width: 700px;
	min-height: 1000px;
	padding-top: 200px;

	.culture {
		background: url(./img/culture.jpg);
		width: 450px;
		height: 340px;
	}
}
