#example {
	background: transparent;
	position: relative;
	max-width: 875px;
	min-width: 700px;
	min-height: 3700px;

	.arrow-small {
	    background: url(./img/neon-arrow-small.png);
	    position: absolute;
	    left: 150px;
	    top: -20px;
	    width: 300px;
	    height: 250px;
	}

	.arrows-box {
		background: rgb(42,33,28);
	    height: 440px;
		max-width: 875px;
		min-width: 704px;
	    text-align: center;

		.example-arrow {
			background: url(./img/neon-arrow-big.png) no-repeat;
			display: inline-block;
			height: 100%;
			width: 49%;
		}

		.example-glow {
			background: url(./img/glow-arrow-big.png) no-repeat;
			display: inline-block;
			height: 100%;
			width: 49%;
		}
	}

	.example-div {
		background: url(./img/example-div.png) no-repeat;
		background-color: rgba(45,34,27,1);
		display: inline-block;
		height: 82px;
		max-width: 875px;
		min-width: 100%;
	}
	.example-array {
		background: url(./img/example-array.png) no-repeat;
		background-color: rgba(45,34,27,1);
		display: inline-block;
		height: 31px;
		max-width: 875px;
		min-width: 100%;
	}
	.example-intervals {
		background: url(./img/example-intervals.jpg) no-repeat;
		background-color: black;
		display: inline-block;
		height: 257px;
		max-width: 875px;
		min-width: 100%;
	}
	.example-flicker {
		background: url(./img/example-flicker.jpg) no-repeat;
		background-color: black;
		display: inline-block;
		height: 407px;
		max-width: 875px;
		min-width: 100%;
	}
	.example-mouseovers {
		background: url(./img/example-mouseovers.jpg) no-repeat;
		background-color: rgba(0,0,0,0.4);
		display: inline-block;
		height: 679px;
		max-width: 875px;
		min-width: 100%;
	}
}
