#menu-background {
  background: url(./img/grey-tile.jpg) repeat rgb(0,0,0);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 72px;
  height: 1350px;
}

#menu {
  font-size: 2em;
  text-align: center; 
  top: 0px;
  left: 0px;
  width: 75px;
  margin-top: -5px;
  padding-top: 5px;
  height: 1000px;

  .m-icon {
    background: url(./img/m-icon-small.png);
    position: relative;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    margin: 5px 0 100px 0;
  }  

  :hover {
    color: #F1B119;
  }

  i {
    color: #AE7A00;
  }

  .menu-icons {
    margin-bottom: 20px;
  }

  i.fab.fa-linkedin {
    color: #F0A900;
  }

  .social-icons {
    margin-top: 260px;
  }

  .tooltip-inner {
    color: #F3BA32;
    font-weight: bold;
  }

  .tooltip {
    margin-top: 0px;
  }
}
