#menu {
	background: black;
	position: absolute;
	left: 0px;
	Width: 50px;
	height: 600px;
	color: grey;
	text-align: center;
}

#menu :hover {
	color: white;
}

#content {
	background: white;
	color: grey;
}
